<div class="dashboard_header">
 <div class="dh_titlebar clearfix"><!-- Any your text goes here --></div>
 <div>
 	<%= facebook_messages %>
	<%= flash[:errors] %>
 </div>
</div>
<div class="content_no_sidebar">
 <div class="dev_applications clearfix">
  <div class="flag_nav flag_nav_has_icon dev_app_list" id="dev_app_list">
   <div class="flag_nav_container">
    <!-- Unselected link -->
	<% if @pill %>
    <div class="flag_nav_item" id="29757401366_li">
     <a href="#" onclick="ajax_func(); return false;" class="clearfix"> 
      <div class="flag_nav_li_icon"><%= image_tag @pill.image_url %></div>
      <div class="flag_nav_li_title"><%= @pill.name %></div>
      <div class="flag_nav_top_mask"></div>
     </a>
     <span class="flag_nav_border_hack"> </span>
    </div>
    <% end %>
    <!-- End Nav links -->
   </div>
  </div>
  <div class="dev_app_infos_shadow">
   <div class="dev_app_infos" id="dev_app_infos">
   <%= render 'pill_resource.html', :collection=>@pill_resources %>
    <!-- End Of Active Page. Other pages go here. -->
   </div>
  </div>
 </div>  
</div>

