<fb:fbml>
  <% for attack in battles %>
    <div class="battle"
      <%= image_tag attack.move.image_name %> 
      <fb:wide>
      <%= link_to(
           name(attack.attacking_user,:linked=>"false"),
           battles_url(:user_id=>attack.attacking_user)) %> 
      <%= attack_result(attack) %>
      <%= link_to(
           name(attack.defending_user,:linked=>"false"),
           battles_url(:user_id=>attack.defending_user)) %>       
      with a <%= attack.move.name %>
    </fb:wide>
    <fb:narrow>
      <%= link_to(
           name(attack.attacking_user,:linked=>"false",:firstnameonly=>true),
           battles_url(:user_id=>attack.attacking_user)) %> 
      <%= attack_result(attack) %>
      <%= link_to(
           name(attack.defending_user,:linked=>"false",:firstnameonly=>true),
           battles_url(:user_id=>attack.defending_user)) %>       
    </fb:narrow>
    </div>
  <% end %>
</fb:fbml>