<fb:fbml>
  <% for message in battles %>
    <div class="battle"
      <%= image_tag message.pill.image_name %> 
      <fb:wide>
      <%= link_to(
           name(message.messaging_user,:linked=>"false"),
           battles_url(:user_id=>message.messaging_user)) %> 
      <%= message_result(message) %>
      <%= link_to(
           name(message.defending_user,:linked=>"false"),
           battles_url(:user_id=>message.defending_user)) %>       
      with a <%= message.pill.name %>
    </fb:wide>
    <fb:narrow>
      <%= link_to(
           name(message.messaging_user,:linked=>"false",:firstnameonly=>true),
           battles_url(:user_id=>message.messaging_user)) %> 
      <%= message_result(message) %>
      <%= link_to(
           name(message.defending_user,:linked=>"false",:firstnameonly=>true),
           battles_url(:user_id=>message.defending_user)) %>       
    </fb:narrow>
    </div>
  <% end %>
</fb:fbml>