<% pill_category = selection_window %>
<div class="dev_application app_show" id="24003877170_info">
 <div class="dev_application_header clearfix">
  <%= image_tag pill_category.image_ref %>
  <h3><%= pill_category.title %></h3>
  <div id="app_id_24003877170_submit">
   <div class="dev_app_submit">
    <h6><%= pill_category.subheader %></h6>
    <p><%= pill_category.description %></p>
   </div>
  </div>
  <span id="ajax1"></span>
 </div>

<script>
function load_pill(div,val)  { 
    var ajax = new Ajax(); 
    ajax.responseType = Ajax.FBML; 
    ajax.ondone = function(data) { 
       var p = document.getElementById(div);
       p.setInnerFBML(data); 
    } 
    ajax.requireLogin = true; 
   
   ajax.post('http://dariusroberts.com:4007/messages/secret_message_form?pill=' + val); 
} 
</script>

 <div class="dev_application_data">
      <%= render :partial=>'send_form.fbml', :collection=>pill_category.pills %>
     <div class="dev_application_info"></div>
 </div>
 <div class="dev_app_footer"><a href="www.facebook.com/">Look up these pills</a> | <a href="www.facebook.com/">Share</a></div>
</div>