<h2> <%= fb_name @user, :useyou=>false,
 :linked=>false, :possessive=>true%> 
 Patient Histories </h2>
<%= fb_profile_pic @user %>
<% fb_if_is_user @user do %>
  <div id="nickname">
    <%= render :partial=>"users/nickname", :locals=>{:closed=>!current_user.nickname.blank?}%>
  </div>
  <% fb_else do %>
    <hr />
    <% if current_user.blank? %>
    <h3><%=link_to "Add Pharmville Rx",new_message_path%> 
          to message <%=name @user%></h3>
    <% else %>
      <h3>Do you want to treat <%= name @user%></h3>
      <% facebook_form_for Message.new do |f| %>
        <%= f.select :pill_id, current_user.available_pills, :label=>"Pill" %> <br />
        <%= hidden_field_tag "ids[]", @user.facebook_id%>
        <%= f.buttons "Prescribe!" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= will_paginate(@battles)%>
<% for message in @battles %>
<div class="battle"
  <%= image_tag message.pill.image_name %> 
  <%= link_to(
      name(message.messaging_user,:linked=>false),
      battles_path(:user_id=>message.messaging_user)) %> 
  <%= message_result(message) %>
  <%= link_to(
      name(message.defending_user,:linked=>false),
      battles_path(:user_id=>message.defending_user)) %>       
  with a <%= message.pill.name %>
</div>
<% end %>
<script>
function update_count(str,message_id) {
	len=str.length;
  if (len < 200) {
	  $(message_id).setInnerXHTML("<span style='color: green'>"+
	    (200-len)+" remaining</span>");
  } else {
	  $(message_id).setInnerXHTML("<span style='color: red'>"+
	    "Comment too long. Only 200 characters allowed.</span>");
  }
}

function update_multiple(json) {
	for( var i=0; i<json["ids_to_update"].length; i++ ) {
		id=json["ids_to_update"][i];
		$(id).setInnerFBML(json["fbml_"+id]);
	}
}
</script>
<%= link_to_function "Talk some trash",
 "$('comment_form').show();" %>
 : <br />
 <p id="form_message">&nbsp;</p>
<div id="comment_form" style="display:none">
  <% remote_form_for Comment.new,
    :url=>comments_url(:canvas=>false),
    :success=>"update_multiple(request)" do |f|%>
  <%= text_area_tag :body, "",
  :onchange=>"update_count(this.getValue(),'remaining');",
  :onkeyup=>"update_count(this.getValue(),'remaining');"
   %> <br />
   <p id="remaining">&nbsp;</p>

    <%= hidden_field_tag :comment_receiver,@user.id %>
    <%= submit_tag 'Post'%>
  <% end %>
</div>             
<div id="all_comments">
  <%= render :partial=>"comments/comments" %>
</div>
