<% if @battles.blank? %>
  <h1>Nobody has treated <%=name @user%> yet.</h1>
  <p>
    Be the first. <%=link_to "Prescribe something to #{name @user} now!", new_message_url%>
  </p>
  
<% else %>
  <%= will_paginate(@battles)%>
  <% for message in @battles %>
  <div class="battle">
    <%= image_tag message.pill.image_name %> 
    <%= link_to(
        name(message.messaging_user,:linked=>false),
        battles_url(:user_id=>message.messaging_user)) %> 
    <%= message_result(message) %>
    <%= link_to(
        name(message.defending_user,:linked=>false),
        battles_url(:user_id=>message.defending_user)) %>       
    with a <%= message.pill.name %>
  </div>
  <% end %>
<% end %>
