#dashboard
  #messages{:class=>"fbgreybox"}
    = link_to_function "hide", "$(this.parent).hide()"
  #pillbox
    .title
      Choose a Pill
    %table
      - for pills in @current_user.emergency_room_pillbox.in_groups_of(2)
        %tr
          - for pill in (pills - [nil])
            %td{:onclick => "emergency_room.pickPill(this, #{pill.id});", :class=>'pill'}
              = render :partial=>'pill.haml', :object=>pill
  #stats
    Budget:
    %span
      = money current_user.funding
    %br
    Reputation:
    %span
      = @caregiver.reputation
  #info-windows
    #patientList
      = render :partial => "patient_info_window_placeholder.haml"
      = render :partial => "patient_info_window.haml", :collection => @patients

%fb:js-string{:var => "messages.empty"}
%fb:js-string{:var => "messages.pleasePick"}
  You need to pick a pill and a patient.
%fb:js-string{:var => "messages.prescribed"}
  Prescribing...
%fb:js-string{:var => "messages.validPrescription"}
  Your prescription is valid, you gain reputation
%fb:js-string{:var => "messages.invalidPrescription"}
  Your prescription is invalid, you lose reputation and are sued
%fb:js-string{:var => "dialogs.prescribe"}
  Are you sure you want to prescribe this pill?
